<!DOCTYPE html>
<html>
<head>
<title>Task Submit</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="{{url_for('static',filename='jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
<script src="{{url_for('static',filename='script.js')}}"></script>
<script type="text/javascript">
$('form').submit(false);
$(document).keypress(
    function(event){
     if (event.which == '13') {
        event.preventDefault();
	     submit_it();
      }
});
</script>
</head>
<body>
<div id="main"class="container">
  <h2>Hello, {{user_fb}}</h2><br>
  {% if not logged%}
  <a href="{{url_for('face_auth')}}"><button id="log_fb" class="btn btn-danger">Log To FaceBook <i class="fa fa-facebook-official"></i></button></a>
  {% endif %}
  <br><br>
  <form class="form-horizontal " id="form">
  <div id="ctrl" class="form-group">
     <label for="reg_id">Register ID:</label>
      <div class="col-sm-10 input-group">
	    <span class="input-group-addon"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
        <input type="text" class="form-control" id="reg_id" placeholder="Enter register id" name="reg_id" required="required">
    </div>
      <div class="col-sm-10 input-group">  
        <input type="file" class="form-control" id="file" name="file[]" accept='.txt, .doc, .docx' multiple=''>
      </div>        
      <div class="col-sm-offset-0 col-sm-10 input-group">
        <button type="button" id="submit" onclick="submit_it()" class="btn btn-primary ">Submit</button><br><br>
      </div>
	  <div id="progress" class="col-sm-offset-0 col-sm-10 input-group" style="height:20px;border:1px black solid;width:75%;">
    <div class="bar" style="height:100%;background-color:red;width:0%;"></div>
	</div>
	</div>
	<br>
  </form>
  <div id="result" class="table-responsive">
  <table>
  <tr>
  <td><h4 class="text text-left text-danger">{{err}}</h4></td>
  </tr>
  </table>
</div>
<p class="text footer">Created by <a href="https://www.facebook.com/Ahmed.Yousef375" >  Ahmed Yousef  <i class="fa fa-facebook-official"></i></a>  using (python, flask, jquery, bootstrap and <a href="http://www.freecodecamp.com"><i class="fa fa-free-code-camp" aria-hidden="true"> freecodecamp.com</i></a>.)
</p>

</div>
</body>
</html>
